{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module"
  },
  "env" : {
    "node": true
  },
   "overrides": [
    {
      "files": ["src/**/*.js"],
      "rules": {
        "no-console": "off"
      }
    }
   ]
}
